* {
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    border: none;
    -webkit-user-select: none; /* for Safari and Chrome */
    -moz-user-select: none; /* for Firefox */
    -ms-user-select: none; /* for Internet Explorer */
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Consolas, Arial, sans-serif;
    background-color: rgb(200, 180, 150);;
    color: black;
}

.app {
    display: flex;
    flex-direction: column;
    /* max-width: 800px; */
    width: 100%;
    height: 100%;
    background-color: rgb(200, 180, 150);
}

.row {
    display: flex;
    flex-direction: row;
    min-height: 60px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(110, 99, 81);
}

.text {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 5vw;
    font-size: 1.8rem;
    background-color:rgb(200, 180, 150);
    border:None;
    position: relative;
}

.bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: rgb(82, 73, 61);
    background-color:rgb(200, 180, 150); /* #6b6464; */
    cursor: pointer;
    height: 100%;
    width: 60px;
    border-right:1px solid rgb(110, 99, 81);
    position: relative;
}

.bttn:active {
    background-color: transparent;
    outline: none;
}

.bttn-middle{
    flex-grow: 1;
    font-size: 1rem;
    padding-top: 7px;
    font-weight: bold;
}

.bttn-right{
    border: none;
}

.title {

    position: absolute; /* take this div out of the flow */
    top: 0; /* position at the top */
    left: 0; /* position at the left */
    padding: 6px;
    font-size: 0.8rem;
    font-weight: normal;
}

.list-element{
    justify-content: center;
    align-items: center;
    font-family: Consolas, Arial, sans-serif;
    font-size: 1.4rem;
    color: rgb(82, 73, 61);
    background-color:rgb(200, 180, 150); /* #6b6464; */
    cursor: pointer;
    min-height: 60px;
    height: 60px;
    border-bottom:1px solid rgb(110, 99, 81);
    background-color: rgb(220, 200, 160);
}

.list-element:hover{
    background-color:rgb(151, 136, 113);
}

.list{
    flex-grow: 1;
}

#kindle {
    flex-grow: 1;
    font-size: 1rem;
}

#max_min {
    border: none;
}

#text{
    text-align: center;
    background-color: rgb(200, 180, 150);
}

#book-row{
    height: 40px;
}

#sentence-row{
    align-items: center;
    justify-content: center;
    row-gap: 4px;
    height: 80px;
}

#sentence-row > button{
    border: none;
    margin: 10px;
    min-width: 0px;
    width: auto;
}

#help {
    position: absolute; /* take this div out of the flow */
    bottom: 0; /* position at the top */
    right: 0; /* position at the left */
    padding: 16px;
    font-size: 1.8rem;
    background-color: transparent; /* #6b6464; */
    cursor: pointer;
}

#sound {
    filter: grayscale(20%);
}


