:root {
    --hue: 36;
    --color_background: hsl(var(--hue), 28%, 69%);
    --color_border: hsl(var(--hue), 30%, 37%);
    --color_font1: hsl(var(--hue), 29%, 28%);
    --color_background_light:hsl(var(--hue), 31%, 74%);
}

*:not(html):not(head):not(script) {
    display: flex;
    flex-direction: column;
    position: relative; 
    overflow: clip;
    box-sizing: border-box;    
    margin: 0;
    padding: 0;
    user-select: none;
    border: none;
    -webkit-user-select: none; /* for Safari and Chrome */
    -moz-user-select: none; /* for Firefox */
    -ms-user-select: none; /* for Internet Explorer */
    -webkit-tap-highlight-color: transparent;
}

*:not(html):not(head):not(script):focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Consolas, Arial, sans-serif;
    background-color: var(--color_background);
    color: black;
}

svg {
    fill: var(--color_font1)
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color_background);
}

.row {
    display: flex;
    flex-direction: row;
    height: 60px;    
    min-height: 60px;
    width: 100%;
    border-bottom: 1px solid var(--color_border);
}

.text {
    display:flex;
    position: relative;    
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    background-color: var(--color_background);
}

.bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: var(--color_font1);
    background-color: var(--color_background);
    cursor: pointer;
    height: 100%;
    width: 60px;
    border-right:1px solid var(--color_border);
    position: relative;
}

.bttn:active {
    background-color: transparent;
}

.bttn-middle{
    flex-grow: 1;
    font-size: 1rem;
    padding-top: 7px;
    font-weight: bold;
}

.bttn-right{
    border: none;
}

#category {
    flex-grow: 1;
    font-size: 1rem;
}

#voice {
    width: 100px;
    display: None;
    font-size: 1rem;
    font-weight: bold;
}

#max_min {
    border: none;
}

#text {
    text-align: center;
    background-color: var(--color_background);
    overflow:auto;
}

#text-row {
    overflow-y: auto;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.option:hover {
    /* background-color: var(--color_background_light); */
}

.option{
    cursor: pointer    
}

.p{
    background-color: transparent;
}