:root {
    --hue: 36;
    --color_background: hsl(var(--hue), 28%, 69%);
    --color_border: hsl(var(--hue), 30%, 37%);
    --color_font1: hsl(var(--hue), 29%, 28%);
    --color_background_light:hsl(var(--hue), 31%, 74%);
}

*:not(html):not(head):not(script) {
    display: flex;
    flex-direction: column;
    position: relative; 
    overflow: clip;
    box-sizing: border-box;    
    margin: 0;
    padding: 0;
    user-select: none;
    border: none;
    -webkit-user-select: none; /* for Safari and Chrome */
    -moz-user-select: none; /* for Firefox */
    -ms-user-select: none; /* for Internet Explorer */
    -webkit-tap-highlight-color: transparent;
}

*:not(html):not(head):not(script):focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Consolas, Arial, sans-serif;
    background-color: var(--color_background);
    color: black;
}

svg {
    fill: var(--color_font1)
}

#app00 {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
    background-color: var(--color_background);
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

#row-warnings {
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 45px;
    height: 45px;
    
}

#warning-sound {
    text-align: center;
    font-size: 0.8rem;
}

#enter-btn {
	background-color: #4CAF50;
	color: #ffffff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 1.4rem;
    visibility: hidden;
}

#enter-btn:hover {
	background-color: #3e8e41;
}

.app {
    display: None;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color_background);
}

.row {
    display: flex;
    flex-direction: row;
    height: 60px;    
    min-height: 60px;
    width: 100%;
    border-bottom: 1px solid var(--color_border);
}

.text {
    display:flex;
    position: relative;    
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 5vw;
    font-size: 1.8rem;
    background-color: var(--color_background);
    border:None;
}

.bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: var(--color_font1);
    background-color: var(--color_background);
    cursor: pointer;
    height: 100%;
    width: 60px;
    border-right:1px solid var(--color_border);
    position: relative;
}

.bttn:active {
    background-color: transparent;
}

.bttn-middle{
    flex-grow: 1;
    font-size: 1rem;
    padding-top: 7px;
    font-weight: bold;
}

.bttn-right{
    border: none;
}

.title {
    position: absolute;
    top: 0;
    left: 0; 
    padding: 6px;
    font-size: 0.8rem;
    font-weight: normal;
}

.list-element{
    justify-content: center;
    align-items: center;
    font-family: Consolas, Arial, sans-serif;
    font-size: 1.4rem;
    color: var(--color_font1);
    background-color: var(--color_background);
    cursor: pointer;
    height: 60px;
    min-height: 60px;    
    border-bottom: 1px solid var(--color_border);
    background-color: var(--color_background_light);

    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2rem;
}

.list-element:hover{
    background-color:var(--color_background);
}

.list{
    flex-grow: 1;
    overflow:auto;
    flex-direction: column;
}

#kindle {
    flex-grow: 1;
    font-size: 1rem;
}

#voice {
    width: 100px;
    display: None;
    font-size: 1rem;
    font-weight: bold;
}

#max_min {
    border: none;
}

#text{
    text-align: center;
    background-color: var(--color_background);
    overflow:auto;
}

#text-row{
    overflow-y: auto;
    flex-direction: column;
}

#book-row{
    height: 40px;
}

#book{
    padding-left: 20px;
    padding-right: 20px;   
}

#book-title{
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;

}

#chapter{
    padding-left: 20px;
    padding-right: 20px;    
}

#chapter_title{
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

#sentence-row{
    align-items: center;
    justify-content: center;
    row-gap: 4px;
    height: auto;
}

#sentence-row > button{
    flex-direction: row;
    border: none;
    margin: 4px;
    min-width: 0px;
    width: auto;
}

#sentence-row > button > p{
    font-size: 1.4rem;
}


#sentence > p{
    padding: 5px;
    font-size: 1.4rem;
}

#sentence_number{
    width: 40px;
}

#sentence_total_number{
    width: 40px;
}

#help {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 16px;
    background-color: transparent;
    cursor: pointer;
}

