:root {
    --hue: 36;
    /* --color_background: hsl(var(--hue), 28%, 69%);
    --color_border: hsl(var(--hue), 30%, 37%);
    --color_font1: hsl(var(--hue), 29%, 28%);
    --color_background_light: hsla(var(--hue), 31%, 74%, 50%); */
    --color_background: hsl(var(--hue), 0%, 100%);
    --color_border: hsl(var(--hue), 60%, 20%);
    --color_font1: hsl(var(--hue), 100%, 0%);
    --color_background_light: hsla(var(--hue), 0%, 100%, 50%);
}

*:not(html):not(head):not(script) {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: clip;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    border: none;
    -webkit-user-select: none;
    /* for Safari and Chrome */
    -moz-user-select: none;
    /* for Firefox */
    -ms-user-select: none;
    /* for Internet Explorer */
    -webkit-tap-highlight-color: transparent;
}

*:not(html):not(head):not(script):focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Consolas, Arial, sans-serif;
    background-color: var(--color_background);
    color: black;
}

svg {
    fill: var(--color_font1)
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color_background);
}

.row {
    display: flex;
    flex-direction: row;
    height: 60px;
    min-height: 60px;
    /* width: 100%; */
    border-bottom: 1px solid var(--color_border);
}

.text {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    background-color: var(--color_background);
}

.bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: var(--color_font1);
    background-color: var(--color_background);
    cursor: pointer;
    height: 100%;
    width: 60px;
    border-right: 1px solid var(--color_border);
    position: relative;
}

.bttn:active {
    background-color: transparent;
}

.bttn-middle {
    flex-grow: 1;
    font-size: 1rem;
    padding-top: 7px;
    font-weight: bold;
}

.bttn-right {
    border: none;
}

#help-top-middle {
    flex-grow: 1;
    font-size: 1rem;
}

#category {
    flex-grow: 1;
    font-size: 1rem;
}

#voice {
    width: 100px;
    display: None;
    font-size: 1rem;
    font-weight: bold;
}

#max_min {
    border: none;
}

#text {
    text-align: center;
    background-color: var(--color_background);
    overflow: auto;
}

#text-row {
    overflow-y: auto;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.option {
    cursor: pointer
}

.row {
    display: flex;
    /* Use Flexbox layout */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

p {
    text-align: center;
    /* Align text in the center of the <p> */
}

#question {
    height: 130px;
    padding: 20px;
    border-bottom: 0;
}

#sound {
    border-right: 0;
}

#explanation {
    height: 300px;
    padding: 15px;
    border: 0;
    align-items: flex-start;
    overflow: visible;
}

.opt_div {
    cursor: pointer;
    margin-bottom: 5px;
    background-color: rgb(208, 208, 208);
    border: 0;
    margin-right:5px;
    margin-left: 5px;
}

.red_div {
    background-color: rgb(240, 124, 124);
}

.green_div {
    background-color: rgb(56, 206, 69);
}

#enter-btn {
    display: flex;
    /* add this to make the button a flex container */
    flex-direction: row;
    row-gap: 50px;
    align-items: center;
    /* vertically center the contents */
    background-color: #396775;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 1.4rem;
    /* visibility: hidden; */
    visibility: visible;
    width: 200px;
}

#enter-btn:hover {
    background-color: #304b97;
}

#help-btn {
    display: flex;
    /* add this to make the button a flex container */
    flex-direction: row;
    row-gap: 50px;
    align-items: center;
    /* vertically center the contents */
    background-color: #383838;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 1.4rem;
    /* visibility: hidden; */
    visibility: visible;
    width: 200px;
}

#help-btn:hover {
    background-color: #304b97;
}

#home {
    /* height: 100%; */
    position: absolute;
    top: 15%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    text-align: center;
    background-color: var(--color_background);
}

/* Center the buttons */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Horizontal centering */
    /* Space between buttons */
}

/* Style for the buttons */
button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#click-explainer{
    font-size: 0.75rem;
    margin-top: 20px;
}